.bg-white {
    background-color: #ffff;
}

.txt-white {
    color: #ffff;
}

.bg-black {
    background-color: #000;
}

.txt-black {
    color: #000;
}
.txt-primary{
    color: #072655; 
}

.bg-primary{
    background-color: #072655;
}