.bg-white {
    background-color: #ffff;
}

.txt-white {
    color: #ffff;
}

.bg-black {
    background-color: #000;
}

.txt-black {
    color: #000;
}

.bg-Oxford_Blue {
    background-color: #072655;
}

.txt-Oxford_Blue {
    color: #072655;
}

.bg-Internal_Klein {
    background-color: #1c31a5;
}

.txt-Internal_Klein {
    color: #1c31a5;
}