* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 50%;
   height: 100%;
   display: flex;
   border-radius: 20px;
   margin: auto;
   height: calc(100% - 100px);
   margin-bottom: 20px;

   .label-password{
    font-weight: bold;
    margin-bottom: 5px;
   }
   .input-password{
    border: 2px solid #191f28;
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    padding: 5px 2px;
    
   }
   .input-password:focus{
    outline: none;
    border-color: #0056b3;
   }
   .password-container{
    display: flex;

    .password-content{
        flex-direction: column;
    }
    
   }
 
   button {
    justify-content: center;
    color: #fff;
    width: 20%;
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;

  
}

.button-container {
    text-align: center;
}
.button-border{
    color: #0056b3;
    background-color: transparent;
}

}
@media sreen and (max-width:768px){
    .login-container{
        width: 80%;
    }
    .input-password{
        width:100%;
    }
}

@media screen and (max-width:480px){
    .login-container{
        width: 90%;
    }
}