* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-auth {
    min-height: 100vh;
    position: absolute;

    .container-register {
        display: flex;
        width: 90%;
        min-height: 80vh;
        background-color: white;
        margin: 3.5rem auto;
        border-radius: 20px;
        position: relative;

        .img-register {
            width: 50%;
            object-fit: cover;
            margin: 3px;
            border-radius: 20px;
        }

        .logo-form {
            position: absolute;
            left: 1rem;
            top: .5rem;
            display: flex;
            width: min-content;
            height: auto;
            cursor: pointer;
            z-index: 100;
            font-size: 15px;
            gap: 5px;

            img {
                height: 30px;
                width: 30px;
            }
        }

        .form {
            width: 50%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            position: relative;

            .register-form {
                width: 100%;
                padding: 1rem;

                input:not([type="file"]) {
                    border: none;
                    border-bottom: 1px solid #191f28;
                    margin-bottom: 5px;
                    width: 100%;
                    height: 50px;
                    outline: none;
                    border-radius: none;
                }

                input[type="file"] {
                    cursor: pointer;
                    color: black;
                    border-radius: 5px;
                    border: 1px black solid;
                    padding: 6px;
                }

                input[type="file"]::-webkit-file-upload-button {
                    display: none;
                }

                select {
                    border: 1px solid black;
                    outline: none;
                    border-radius: 5px;
                    padding: 6px;
                }

                h1 {
                    margin-bottom: 30px;
                    font-size: 50px;
                    text-align: center;
                }

                button {
                    color: #fff;
                    width: 100%;
                    border: none;
                    height: 40px;
                    border-radius: 10px;
                    margin-top: 60px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    font-size: 16px;

                    &:hover {
                        background-color: #191f28;
                    }
                }

                .g-input {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    flex: 1;
                }

                .nested {
                    display: flex;
                    width: 100%;
                    gap: 8px;
                }
            }
        }
    }
}



.error-message {
    color: red;
    font-size: 12px;
}

.error-message::before {
    content: "* ";
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.move-left {
    transform: translateX(-50%);
}

@media (max-width: 768px) {

    .body-auth {
        .container-register {
            display: flex;
            flex-wrap: wrap;

            .img-register {
                width: 100%;
                height: auto;
                margin: 3px;
                border-radius: 5px;
            }

            .form {
                width: 100%;

                .register-form {
                    .nested {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }

                    button {
                        color: #fff;
                        width: 100%;
                        height: 40px;
                        border-radius: 10px;
                        margin-top: 20px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                    }
                }
            }
        }
    }
}